/*
 *
 *
 * Landing Page
 *
 *
 */
*{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

article:not(:last-child){
    padding-bottom:30px;
}

article:not(:first-child){
    padding-top:30px;
}

h1,h2,h3,h4{
    font-family: 'Kanit', sans-serif;
    margin: 10px 0;
}

button{
    background-color: #FFBC58;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
}

/*
 *
 *
 * Header
 *
 *
 */

 header{
     background-color: #FF914D;
     padding:20px;
 }
.container{
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-img{
    height: 80px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

.header-menu{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    position: relative;
}

.header-menu li:hover{
    background-color: #FFBC58;
}

.header-menu li:hover .header-submenu{
    transform: rotateX(0);
    background-color:#FFBC58;
}

.header-submenu{
    position: absolute;
    margin: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
    transition-timing-function: ease-in-out;
}

/*
 *
 *
 * Main
 *
 *
 */

 main{
     padding: 30px 20px;
 }
.img-familia{
    max-width: 550px;
    border-radius: 20%;
}

.vantagens{
    margin: 0 auto;
    background-color:#FFBD59;
}

.tarifas{
    max-width: 1152px;
    margin: 0 auto;
}

.img-aplicativo{
    max-width: 230px;
}

.descricao-vantagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
}

.aplicativo{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.grid-vantagens{
    max-width: 300px;
}

.img-vantagens{
    height: 25px;
}

/*
 *
 *
 * Footer
 *
 *
 */
 footer{
    background-color: #666666;
    padding-top: 30px;
    padding: 0 20px;
 }

 .footer-container{
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
 }

 footer a{
     color: black;
 }

 footer li{
    padding: 0;
 }

 .app-download{
    display: flex;
    justify-content: space-between;
 }

 .app-download img{
    width: 120px;
 }

 .redes-sociais{
     display:flex;
     justify-content: space-between;
 }

 .redes-sociais img{
     width: 30px;
 }